{
  "rules": {
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      1,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "strict": [
      0,
      "global"
    ],
    "no-multiple-empty-lines": [
      1,
      {
        "max": 1
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}