{
  "rules": {
    "camelcase": [2, { "properties": "always" }],
    "comma-dangle": [2, "never"],
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "strict": [2, "global"]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "script"
  }
}